* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.contentContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b1c20;
}

body,
p,
input,
select,
textarea,
button {
  font-family: sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

input {
  width: 100%;
}

.logout,
.settings {
  width: 36px;
  height: 36px;
}

.submitbutton {
  display: flex;
  justify-content: space-between;
}

.errorMsg {
  color: red;
}

.loginContainer {
  background-color: rgba(56, 56, 56, 0.281);
  padding: 32px;
  border-radius: 16px;
}

.title_h2 {
  padding-bottom: 16px;
}

.messageview {
  margin-bottom: 80px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
}

.messageBox,
.messageview {
  background-color: #1f2024;
}

.messageview::-webkit-scrollbar {
  width: 10px;
  padding-right: 4px;
  height: 95%;
}

.messageview::-webkit-scrollbar-track {
  border-radius: 10px;
}

.messageview::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #315ff3;
  width: 1px;
}

.messageBox {
  position: relative;
  bottom: 0px;
  padding-bottom: 12px;
  border-bottom: solid 4px #315ff3;
  display: flex;
  position: fixed;
  height: fit-content;
  left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
  min-height: calc(100vh-40px);
}

.sendImgPreview {
  position: absolute;
  left: 50px;
  bottom: 75px;
}

.prevImg {
  width: 128px;
  height: 96px;
  border: solid 2px #315ff3;
  border-radius: 6px;
}

.closePreview {
  position: absolute;
  left: 98px;
  bottom: 70px;
  width: 30px;
  height: 30px;
}

.chatHeaderDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 4px;
  padding-right: 16px;
}

.messageBox,
.messageview,
header {
  width: 60%;
  max-width: 960px;
  border-right: solid 3px #202326;
  padding-right: 4px;
  border-left: solid 3px #202326;
  padding-left: 4px;
}

header {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (min-width: 621px) {
  .messageBox,
  .messageview,
  header {
    min-width: 620px;
  }
}
@media screen and (max-width: 620px) {
  .messageBox,
  .messageview,
  header {
    width: 100%;
  }
}

button,
input,
textarea {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 32px;
  padding: 16px;
  background-color: #303133;
  color: beige;
  margin-top: 16px;
}

.successLogout {
  color: green;
}

.sendMessageBtn {
  width: auto;
  margin-left: 6px;
  border-radius: 100%;
  width: fit-content;
  height: fit-content;
  font-size: 8px;
  padding: 6px;
}

.cameraBtn {
  width: auto;
  margin-right: 6px;
  border-radius: 100%;
  width: fit-content;
  height: fit-content;
  font-size: 8px;
  padding: 6px;
}

.sendIco {
  transform: rotate(-23deg);
  margin-left: 4px;
}

.messageInput {
  width: 100%;
  resize: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: beige;
}

.message {
  color: beige;
  background-color: #303133;
  margin-top: 16px;
  padding: 8px 8px 4px 8px;
  /* box-shadow: -5px -5px 20px #fff, 5px 5px 20px #9991C9; */
  border-radius: 12px 12px 12px 2px;
  word-break: break-word;
  width: fit-content;
  max-width: 600px;
  min-width: 96px;
  margin-left: 8px;
}

.messageTimeStamp {
  width: 100%;
  font-size: small;
  text-align: right;
  color: rgb(169, 175, 182);
}

.messageImage {
  border-radius: 8px;
}

.mine {
  margin: 16px 8px 10px auto;
  background-color: #315ff3;
  border-radius: 12px 12px 2px 12px;
}

.addBaner {
  word-break: break-word;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid beige; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(20, end), blink-caret 0.75s step-end infinite;
  margin-bottom: 32px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 227px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #315ff3;
  }
}

.camPopup,
.imageDetailViewPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 640px;
  max-height: 480px;
  width: fit-content;
  height: fit-content;
  border-color: #1b1c2091;
  z-index: 11;
}

.imageDetailViewPopup {
  border-radius: 4px;
  max-width: 700px;
  max-height: 530px;
  padding: 25px;
  background-color: #1b1c2091;
}

.camWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #1b1c2091;
}

.closeCameraView,
.closeImgDetailView {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 4px;
  top: 4px;
  z-index: 13;
}

.detailImageView {
  max-width: 640px;
  max-height: 480px;
}

.closeImgDetailView {
  right: -6px;
  top: -6px;
}
@media screen and (max-width: 699px) {
  .detailImageView {
    max-width: calc(100vw - 100px);
  }
  .imageDetailViewPopup {
    max-width: 100vw;
  }
}

.cameraView {
  padding: 8px;
  width: 100%;
  height: 100%;
  box-shadow: #1b1c2091 0px 5px 15px 0px;
}

.takeImgBtn {
  position: absolute;
  height: 32px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 4px;
  display: none;
  position: absolute;
  background-color: #303133;
  border-radius: 4px;
  right: 0;
  min-width: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: flex;
  flex-direction: column;
}

.deregisterTitle {
  color: red;
}
.logoutTitle,
.toggleLabel,
.deregisterTitle {
  padding-left: 8px;
  padding-top: 7px;
}
.deregIcon {
  filter: invert(24%) sepia(87%) saturate(7361%) hue-rotate(8deg)
    brightness(93%) contrast(130%);
}
.toggleSwitchContainer,
.logoutBtn,
.deregisterBtn {
  display: flex;
  justify-content: space-between;
  padding-right: 4px;
}

.logoutBtn,
.deregisterBtn {
  margin-top: 24px;
}

.rememberMe{
  padding-top: 4px;
}

.stayLoggedInTickBox{
  width: 20px;
  padding: 0px;
  margin-top:0;
}

.tickLabel{
  width:100%;
}

/*Toggle of Theme Styling*/
.toggleSwitchContainer {
  margin-top: 8px;
}

.themetoggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.themetoggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #315ff3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1d3059;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider:before {
  border-radius: 50%;
}

/* For switching theme color */

.darkIcon {
  filter: invert(29%) sepia(66%) saturate(5195%) hue-rotate(225deg)
    brightness(104%) contrast(91%);
}

.lightIcon {
  filter: invert(98%) sepia(41%) saturate(409%) hue-rotate(334deg)
    brightness(104%) contrast(92%);
}

.darkPageTitle,
.lightTheme h1,
.lightTheme .title_h3 {
  color: #315ff3;
}

.lightTheme .lightIcon {
  filter: invert(29%) sepia(66%) saturate(5195%) hue-rotate(225deg)
    brightness(104%) contrast(91%);
}

.lightTheme .darkIcon {
  filter: invert(29%) sepia(66%) saturate(5195%) hue-rotate(225deg)
    brightness(104%) contrast(91%);
}

.lightTheme .messageview,
.lightTheme .messageBox,
.lightTheme header {
  background-color: #fbfcff;
  border-left: solid 3px #d9dbdb;
  border-right: solid 3px #d9dbdb;
}

.lightTheme .contentContainer {
  background-color: #edf0f7;
}

.lightTheme .otherMsg,
.lightTheme .btn,
.lightTheme .messageInput,
.lightTheme input,
.lightTheme .dropdown-content,
.lightTheme .dropdown-content h3 {
  color: #202326;
  background-color: #e7ebf4;
}

.lightTheme .dropdown-content .deregisterTitle {
  color: red;
}

.lightTheme .imageDetailViewPopup {
  background-color: #d8dce460;
}
