/* * {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}

.contentContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#F9F9F9;
}

body, p, input, select, textarea, button{
    font-family: sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

div, p{
    text-shadow: 1px 1px 1px #fff;
}

form{
    padding: 16px;
    width: 320px;
    margin: 0 auto;
}

button, input{
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 8px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
    margin-top: 16px;
}
input{
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #9991C9, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
input:focus{
    box-shadow: inset 1px 1px 2px #9991C9, inset -1px -1px 2px #FFF;
}

button{
    color: #61677c;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    width: 100%;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #9991C9;
}
button:hover{
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #9991C9;
}
button:active{
    box-sizing: inset 1px 1px 2px #9991C9, inset -1px -1px 2px #fff;
}

.login, .register{
    margin-top: 64px;
}

header{
    padding:8px;
    background-color: #9991C9;
    width: 100%;
    color: #F9F9F9;
}

.chatHeaderDiv{
    text-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logout{
    width:36px;
    height:36px;
}

.messageview{
    height: 100vh;
    width: 60%;
    max-width: 960px;
    margin-bottom: 80px;
    padding-bottom: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
    box-shadow:  2px 0px 10px #9991C9 inset;
    border-radius: 0 0 8px 8px;
}

.messageview::-webkit-scrollbar{
    width: 10px;
    height: 95%;
    
}

.messageview::-webkit-scrollbar-track {
    border-radius: 10px;
    border: solid lightgray 1px;
    box-shadow: 1px 1px 5px #9991C9 inset;
}

.messageview::-webkit-scrollbar-thumb{
    border-radius: 8px;
    box-shadow: 5px 5px 10px #fff inset, -3px -3px 5px #9991C9 inset;
    width: 1px;
}

.messageBox{
    bottom: 12px;
    display: flex;
    position: fixed;
    height: fit-content;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    box-sizing: border-box;
    min-height: calc(100vh-40px);
}
.sendMessageBtn{
    width: auto;
}


.errorSend{
    color: red;
}

.errorMsg{
    color: red;
}

.successLogout{
    color:green;
} */
* {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}

.contentContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#262626;
}

body, p, input, select, textarea, button{
    font-family: sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

.logout{
    width:36px;
    height:36px;
}

.messageview{
    margin-bottom: 80px;
    padding-bottom: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
    border-radius: 0 0 8px 8px;
}

.messageview::-webkit-scrollbar{
    width: 10px;
    height: 95%;
}

.messageview::-webkit-scrollbar-track {
    border-radius: 10px;
    /* border: solid lightgray 1px; */
    /* box-shadow: 1px 1px 5px #9991C9 inset; */
}

.messageview::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: rgb(75, 75, 255);;
    width: 1px;
}

.messageBox{
    bottom: 12px;
    display: flex;
    position: fixed;
    height: fit-content;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
    min-height: calc(100vh-40px);
}

.messageBox, .messageview, header{
    width: 60%;
    max-width: 960px;
}

@media screen and (min-width: 621px) {
    .messageBox, .messageview, header{
       min-width: 620px;
    }
}
@media screen and (max-width: 620px) {
    .messageBox, .messageview, header{
        width: 100%;
    }
}

button, input{
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 8px;
    padding: 16px;
    background-color: beige;
    margin-top: 16px;
}

.sendMessageBtn{
    width: auto;
    margin-left: 6px;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
}

.messageInput {
    width: 100%;
}

h1, h2, h3, h4, h5 {
    color:beige;
}

.message{
    color:beige;
    background-color: #141414;
    margin-top: 16px;
    padding: 16px;
    /* box-shadow: -5px -5px 20px #fff, 5px 5px 20px #9991C9; */
    border-radius: 12px 12px 12px 2px;
    word-break: break-word;
    width: fit-content;
    max-width: 600px;
    min-width: 96px;
    margin-left: 8px;
}

.messageTimeStamp{
    width: 100%;
    font-size: small;
    text-align: right;
}

/*
button, input{
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 8px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
    margin-top: 16px;
}
input{
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #9991C9, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
input:focus{
    box-shadow: inset 1px 1px 2px #9991C9, inset -1px -1px 2px #FFF;
}
*/

.mine{
    margin: 16px 8px 10px auto;
    background-color: rgb(75, 75, 255);
    border-radius: 12px 12px 2px 12px;
}

.addBaner{    
    word-break: break-word;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #9991C9; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(20, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 227px }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #9991C9; }
}

